<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ER</display-name>
  <servlet>
    <servlet-name>signInServlet</servlet-name>
    <servlet-class>com.revature.project1.signInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.revature.project1.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDBview</display-name>
    <servlet-name>EmployeeDBview</servlet-name>
    <servlet-class>com.revature.project1.EmployeeDBview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDBview</servlet-name>
    <url-pattern>/EmployeeDBview</url-pattern>
    <url-pattern>/EDV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDBView</display-name>
    <servlet-name>ManagerDBView</servlet-name>
    <servlet-class>com.revature.project1.ManagerDBView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDBView</servlet-name>
    <url-pattern>/ManagerDBView</url-pattern>
    <url-pattern>/MDV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerApprove</display-name>
    <servlet-name>ManagerApprove</servlet-name>
    <servlet-class>com.revature.project1.ManagerApprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerApprove</servlet-name>
    <url-pattern>/ManagerApprove</url-pattern>
    <url-pattern>/MAR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDeny</display-name>
    <servlet-name>ManagerDeny</servlet-name>
    <servlet-class>com.revature.project1.ManagerDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDeny</servlet-name>
    <url-pattern>/ManagerDeny</url-pattern>
    <url-pattern>/MDR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MpendingView</display-name>
    <servlet-name>MpendingView</servlet-name>
    <servlet-class>com.revature.project1.MpendingView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MpendingView</servlet-name>
    <url-pattern>/MpendingView</url-pattern>
    <url-pattern>/MPV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mresolved</display-name>
    <servlet-name>Mresolved</servlet-name>
    <servlet-class>com.revature.project1.Mresolved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mresolved</servlet-name>
    <url-pattern>/Mresolved</url-pattern>
    <url-pattern>/MR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualRequest</display-name>
    <servlet-name>IndividualRequest</servlet-name>
    <servlet-class>com.revature.project1.IndividualRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualRequest</servlet-name>
    <url-pattern>/IndividualRequest</url-pattern>
    <url-pattern>/IR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EpendingView</display-name>
    <servlet-name>EpendingView</servlet-name>
    <servlet-class>com.revature.project1.EpendingView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpendingView</servlet-name>
    <url-pattern>/EpendingView</url-pattern>
    <url-pattern>/EPV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpResolved</display-name>
    <servlet-name>EmpResolved</servlet-name>
    <servlet-class>com.revature.project1.EmpResolved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpResolved</servlet-name>
    <url-pattern>/EmpResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Epersonalinfo</display-name>
    <servlet-name>Epersonalinfo</servlet-name>
    <servlet-class>com.revature.project1.Epersonalinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Epersonalinfo</servlet-name>
    <url-pattern>/Epersonalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EeditInfor</display-name>
    <servlet-name>EeditInfor</servlet-name>
    <servlet-class>com.revature.project1.EeditInfor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EeditInfor</servlet-name>
    <url-pattern>/EeditInfor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EcreateReb</display-name>
    <servlet-name>EcreateReb</servlet-name>
    <servlet-class>com.revature.project1.EcreateReb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EcreateReb</servlet-name>
    <url-pattern>/EcreateReb</url-pattern>
  </servlet-mapping>
</web-app>